<!DOCTYPE html>
<html lang="en">
<head>
    <header>
        {% include 'navbar.html' %}
    </header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/scss/bootstrap.min.css" rel="stylesheet">
</head>
<body class ="p-3 mb-2 bg-primary text-white">
    <div id="flash-msg">
        {# Displays flashed messages on a page #}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-info text-center" role="alert">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <script   type="text/javascript">window.setTimeout("document.getElementById('flash-msg').style.display='none';", 2000); </script>
    </div>
    <main>
        <div class ="container-fluid full-height">
            <div class ="row d-flex justify-content-center">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
            integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
            async></script>
</body>
</html>