{%  extends 'base.html' %}
{% set title = 'Leaderboard Active' %}
{% set active_page = "leaderboard_active" %}
{% block content %}
    <div class="container mt-5">
        <div class="d-flex justify-content-center row">
            <div class="col-8">
                <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">User</th>
                          <th scope="col">High Score</th>
                          <th scope="col">Date</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for s in scores %}
                            <tr>
                              <th scope="row">{{ s["position"] }}</th>
                              <td>{{ s["username"] }}</td>
                              <td>{{ s["score"] }}</td>
                              <td>{{ s["date"] }}</td>
                            </tr>
                      {% endfor %}
                      </tbody>
                    </table>
            </div>
        </div>
    </div>
{% endblock %}